{% if S_VINNY_MENU_ENABLED and loops.vinny_menu_header|length %}
	<div class="vinny-header-menu" role="navigation">
		<div class="inner">
			<div class="vinny-mobile-bar">
				<a href="javascript:void(0);" class="vinny-mobile-toggle" aria-label="{{ lang('HEADER_MENU_TOGGLE')|e('html_attr') }}" title="{{ lang('HEADER_MENU_TOGGLE')|e('html_attr') }}">
					<i class="icon fa fa-bars fa-fw" aria-hidden="true"></i>
					<span>{{ lang('HEADER_MENU_TOGGLE') }}</span>
				</a>
			</div>
			<ul class="nav-main" role="menubar" data-skip-responsive="true">
				{% for item in loops.vinny_menu_header %}
					<li class="header-menu-item{% if item.HAS_CHILDREN %} has-dropdown{% endif %}">
						<a href="{{ item.URL }}" target="{{ item.TARGET }}" class="nav-link" role="menuitem" title="{{ item.NAME|e('html_attr') }}">
							{% if item.ICON %}<i class="icon fa {{ item.ICON }} fa-fw" aria-hidden="true"></i>{% endif %}
							<span>{{ item.NAME }}</span>
							{% if item.HAS_CHILDREN %}<i class="icon fa fa-angle-down menu-arrow" aria-hidden="true"></i>{% endif %}
						</a>
						{% if item.HAS_CHILDREN %}
							<ul class="vinny-dropdown-menu" role="menu">
								{% for child in item.children %}
									<li class="vinny-dropdown-item{% if child.HAS_CHILDREN %} has-submenu{% endif %}">
										<a href="{{ child.URL }}" target="{{ child.TARGET }}" role="menuitem" title="{{ child.NAME|e('html_attr') }}">
											<span class="item-label">
												{% if child.ICON %}<i class="icon fa {{ child.ICON }} fa-fw" aria-hidden="true"></i>{% endif %}
												<span>{{ child.NAME }}</span>
											</span>
											{% if child.HAS_CHILDREN %}<i class="icon fa fa-angle-right submenu-arrow" aria-hidden="true"></i>{% endif %}
										</a>
										{% if child.HAS_CHILDREN %}
											<ul class="vinny-subdropdown-menu" role="menu">
												{% for subchild in child.subchildren %}
													<li class="vinny-dropdown-item">
														<a href="{{ subchild.URL }}" target="{{ subchild.TARGET }}" role="menuitem" title="{{ subchild.NAME|e('html_attr') }}">
															<span class="item-label">
																{% if subchild.ICON %}<i class="icon fa {{ subchild.ICON }} fa-fw" aria-hidden="true"></i>{% endif %}
																<span>{{ subchild.NAME }}</span>
															</span>
														</a>
													</li>
												{% endfor %}
											</ul>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% if not definition.INCLUDED_VINNY_MENU_JS %}
		{% INCLUDEJS '@vinny_menu/js/menu.js' %}
		{% DEFINE INCLUDED_VINNY_MENU_JS = true %}
	{% endif %}
{% endif %}
