{% if S_VINNY_MENU_ENABLED and loops.vinny_menu_header|length %}
	<div class="navbar vinny-header-menu" role="navigation">
		<div class="inner">
			<div class="vinny-mobile-bar">
				<a href="javascript:void(0);" class="vinny-mobile-toggle" onclick="this.closest('.vinny-header-menu').classList.toggle('responsive-open');">
					<span><i class="icon fa fa-bars fa-fw" aria-hidden="true"></i> {{ lang('MENU_ITEMS_LIST') }}</span>
					<i class="icon fa fa-caret-down fa-fw toggle-caret" aria-hidden="true"></i>
				</a>
			</div>
			<ul class="nav-main linklist" role="menubar">
				{% for item in loops.vinny_menu_header %}
					<li class="header-menu-item{% if item.HAS_CHILDREN %} has-dropdown{% endif %}" data-skip-responsive="true">
						<a href="{{ item.URL }}" target="{{ item.TARGET }}" class="nav-link" role="menuitem">
							{% if item.ICON %}<i class="icon fa {{ item.ICON }} fa-fw" aria-hidden="true"></i>{% endif %}
							<span>{{ item.NAME }}</span>
							{% if item.HAS_CHILDREN %}<i class="icon fa fa-angle-down menu-arrow" aria-hidden="true"></i>{% endif %}
						</a>
						{% if item.HAS_CHILDREN %}
							<ul class="vinny-dropdown-menu" role="menu">
								{% for child in item.children %}
									<li class="vinny-dropdown-item{% if child.HAS_CHILDREN %} has-submenu{% endif %}">
										<a href="{{ child.URL }}" target="{{ child.TARGET }}" role="menuitem">
											<span class="item-label">
												{% if child.ICON %}<i class="icon fa {{ child.ICON }} fa-fw" aria-hidden="true"></i>{% endif %}
												<span>{{ child.NAME }}</span>
											</span>
											{% if child.HAS_CHILDREN %}<i class="icon fa fa-angle-right submenu-arrow" aria-hidden="true"></i>{% endif %}
										</a>
										{% if child.HAS_CHILDREN %}
											<ul class="vinny-subdropdown-menu" role="menu">
												{% for subchild in child.subchildren %}
													<li class="vinny-dropdown-item">
														<a href="{{ subchild.URL }}" target="{{ subchild.TARGET }}" role="menuitem">
															<span class="item-label">
																{% if subchild.ICON %}<i class="icon fa {{ subchild.ICON }} fa-fw" aria-hidden="true"></i>{% endif %}
																<span>{{ subchild.NAME }}</span>
															</span>
														</a>
													</li>
												{% endfor %}
											</ul>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}
