parameters:
	level: 5
	paths:
		- acp
		- controller
		- event
		- migrations
		- service
	scanDirectories:
		- ../../../../phpBB/phpbb
		- ../../../../phpBB/includes
	bootstrapFiles:
		- ../../../../phpBB/vendor/autoload.php
